
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ddd;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#preview-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid;
    padding: 10px;
    border-radius: 5px;
}

input[type="range"] {
    margin-bottom: 20px;
    margin-top: 10px;
}

button {
    border-radius: 6px;
    outline: none;
    border: 2px solid white;
    padding: 10px;
    background-color: #121212;
    color: white;
    font-weight: 600;
}

h2 {
    text-decoration: underline;
}

.slider {
    width: 250px;
    height: 10px;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    background: black;
    border: 2px solid white;
    border-radius: 10px;
}

.red-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: red;
}
.red-slider::-moz-range-track {
    background-color: red;
    height: 10px;
    border-radius: 4px;
}
.red-slider::-webkit-slider-runnable-track {
    background-color: red;
    height: 10px;
    border-radius: 4px;
}

.blue-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: blue;
}
.blue-slider::-moz-range-track {
    background-color: blue;
    height: 10px;
    border-radius: 4px;
}
.blue-slider::-webkit-slider-runnable-track {
    background-color: blue;
    height: 10px;
    border-radius: 4px;
}

.blue-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: green;
}
.green-slider::-moz-range-track {
    background-color: green;
    height: 10px;
    border-radius: 4px;
}
.green-slider::-webkit-slider-runnable-track {
    background-color: green;
    height: 10px;
    border-radius: 4px;
}

